{% extends 'baseBack.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<main class="dash-content">
    <div class="container-fluid">
        <div class="row dash-row">
            <div class="col-xl-4">
                <div style="background-color: #B87769;" class="stats stats-primary">
                    <h3 class="stats-title"> Sign ups </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">114</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+25%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div < class="col-xl-4">
                <div style="background-color: #DAB3AB;" class="stats stats-success ">
                    <h3 class="stats-title"> Revenue </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">$25,541</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+17.5%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div style="background-color: #E7CAC4;" class="stats stats-danger">
                    <h3 class="stats-title"> Open tickets </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card spur-card">
                    <div class="card-header">
                        <div class="spur-card-icon">
                            <i class="fas fa-file"></i>

                        </div>
                        <div class="spur-card-title"> Commandes </div>


{# 
                        <div class="spur-card-menu">
                            <div class="dropdown show">
                                <a class="fas fa-plus" href="{{ path('commande_create') }}" role="button">
                                </a>

                            </div>
                        </div> #}
                    </div>
                    <div class="col-md-12 mx-auto">
                        {% for message in app.flashes("success") %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <div style="width: 100%; margin: 0 auto;">
                            <table style="margin-left: 10px;" class="table card-body spur-card-body-chart">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ID Produit </th>
                                        <th>Role</th>                                       
                                        <th>Date&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</th>
                                        <th>Date livraison &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</th>
                                        <th>Date confirmation &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</th>            
                                        <th>Status</th>
                                        <th>ID Livreur</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for commande in commandes %}
                                    <tr>
                                        <td scope="row">{{commande.idCommande}}</td>
                                        <td>{{commande.idProduit}}</td>
                                        <td>{{commande.role}}</td>
                                        <td style="width: 200px;">{{ commande.date|date('Y-m-d') }}</td>
                                        <td style="width: 200px;">{{ commande.dateLivraison|date('Y-m-d') }}</td>
                                        <td style="width: 200px;">{{ commande.dateConfirmation|date('Y-m-d') }}</td>
                                        <td>{{commande.status}}</td>
                                        <td>{{commande.idLivreur}}</td>

                                        <td
                                            style="display: flex; justify-content: space-between;  align-items: center;">
                                            <a href="{{ path('commande_show',{id : commande.idCommande}) }}"
                                                class="btn btn-sm btn-primary">
                                                <i class="fa fa-eye"></i>
                                            </a>&nbsp;


                                            <a href="{{ path('commande_edit',{id : commande.idCommande}) }}"
                                                class="btn btn-sm btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </a>&nbsp;
                                            <a href="{{ path('commande_delete',{id: commande.idCommande}) }}"
                                                class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>


                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-xl-12">


                <div class="card spur-card">
                    <div class="card-header">
                        {# <div class="spur-card-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div> #}
                        <div class="spur-card-title"> liste des produits </div>
                        <div class="spur-card-menu">
                            <div class="dropdown show">
                                <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                </a>
                                {# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div> #}
                            </div>
                        </div>
                    </div>
                   <table  style="margin-left: 10px;" class="table card-body spur-card-body-chart" >
              <thead>
                    <tr>
                        <th>ID</th>
                        {# <th style="white-space: nowrap;">Date LIVRAISON </th>
                        <th style="white-space: nowrap;">Date CONFIRMATION</th> #}
                        <th>titre</th>
                        
                       
                        <th></th>
                    </tr>
                </thead>
                     <tbody>
                      
                    {% for p in produits %}
                    
                    <tr class="ligne-table">
                        <td scope="row">{{p.idproduit}}</td>
                        <td>{{p.titre}}</td>
                      
                        
                        <td style="display: flex; justify-content: space-between;  align-items: center;" id="btn-commande">
                           <a href="{{ path('commande_create',{id : p.idproduit}) }}" class="btn btn-sm btn-primary" >
                                <i class="fa fa-plus"></i>
                            </a>&nbsp;
                             
                          
                        </td>
                    
                    </tr>
                    
                    {% endfor %}
               
                </tbody>
            </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}